__pycache__/
*.pyc

venv/

*.db
*.sqlite3

.vscode/

.DS_Store

*.log
raw_html/

.env



crawler/assets/img/cards/
crawler/assets/img/equipments/
crawler/assets/img/headwears/
crawler/assets/img/monsters/
crawler/assets/img/mounts/
crawler/assets/img/pets/
crawler/assets/img/skills/